#footer {
  height: 100px;
  width: 100%;
  position: fixed;
  bottom: 0px;
  background: #171717;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}
